

  h1{
    font-size:2rem;
    font-family: 'Berkshire Swash', cursive;
    color:#EDE5A6;
    text-align:center;
    letter-spacing:2px;
  }
  
  header{
    background-color:#592941; 
    margin-top: 10px;
    display:block;
  }

  header, nav, main, footer{
    margin: 0 auto;
    padding:0.75rem;
    max-width: 45rem;
  }
  
  h3, li{
    color:#592941;
    font-size: 1rem;
  }
  
  body{   
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size:1em;  
    background-image: url("images/pixel-heart.png");
    background-repeat: repeat;
  
  }
  
  .idcard{
    background-color: #EDE5A6;
    width:32.5em;
    margin: 0 auto;
  }
  
  footer{
    background-color:#592941;
    color:#EDE5A6;
    text-align:center;
    font-size:.75em;
    height:4em;
    padding: 1% 0;
    line-height: 1.2em;
  }
  
  .idcard img{
    display: block;
    margin-left: auto;
    margin-right: auto;
   
  }

  
  .middle a:link {
  color: #498467;
    }
  
  .middle a:visited {
  color: #498467;
  }

 .middle a:hover {
  color: #592941;
  }

 .middle a:active {
  color: #592941;
  }
  
  .middle h3{
    padding-left:20px;
  }
  
  
  footer a:link{
   color: #B2D3A8;
  }
  
  footer a:visited {
  color: #498467;
  }

  footer a:hover {
  color: #EDE5A6;
  }

  footer a:active {
  color: #592941;
  }
  
  hr {
    display: block;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-right: auto;
    margin-left: auto;
}
