* {-moz-box-sizing: border-box; -webkit-box-sizing:border-box; box-sizing: border-box;}

/*body rules here*/

main {display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 2rem;
    margin:25px;}

header, footer, h2 {
    text-align: center;
}      

h1 {
    font-family: font-family: 'Anton', sans-serif;
    font-size: 3em;
}

h2 {
    font-family: font-family: 'Sail', cursive;
    font-size: 2em;
}

/*body {
    width:1300px;
    margin: 0 auto;
}*/