/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin: 0 auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header img{width:80px;}
header h1{font-size:3.5rem;}
header h2{font-size:1.3rem;}



/*----------- NAVIGATION --------------*/
/*nav {
    background-color: #82d173;
}*/

nav button {display:none;}
    
nav ul.hide {display:block;}

nav ul {margin-left: 2%;}

nav ul li{
    float:left;
}

nav ul li a {
    border:none;
    border-right: 1px solid rgba(0,0,0,0.3);
    padding: .6rem 1rem;
} 

/*----------- MAIN --------------*/
.gallery-gridcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.gallery-gridcontainer img:hover{
    border-radius: 5px 150px;
    transition: all 0.5s ease;
    box-shadow:5px 5px 5px #999;
}

div.gallery-gridcontainer>div>div.photocap:hover{
    background-color:#abfaa9;
    color:#4c2c69;
    box-shadow:5px 5px 5px #999;
}
.photocap {
    display:block;}

#rating.slider {
        width:20%;
      
    } 
/*----------- HOME PAGE --------------*/
   
    div.homecards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 10px;
        grid-column-gap: 10px;
        margin-top: 1em;
    }
    
    div.homecards>section{
        border: double 4px #4c2c69;
        /*display:block;
        padding:0 10px;*/
        display: flex;
        flex-wrap: wrap;
        width:100%;
    }
    
    div.homecards>section>img{
        display: block;
        border: 0;
        width: 100%;
        height: auto;
            
       /*width: auto; /* to keep proportions */
        /*height: auto; /* to keep proportions */
        /*max-width: 100%; /* not to stand out from div */
        /*max-height: 100%; /* not to stand out from div */
        /*margin: auto auto 0; /* position to bottom and center */
    }
    
    div.homecards p, div.homecards h2, div.homecards h3{
        padding:0 1em;
    }

    div.homecards h2{
        background: linear-gradient(90deg, rgba(171,250,169,1) 0%, rgba(226,226,226,0) 64%);
    }
    
/* -------Table styling----------*/

/*----------- FOOTER --------------*/
    
} /* end of media query */