/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header img{width:80px;}
header h1{font-size:3.5rem;}
header h2{font-size:1.3rem;}


/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
main img {
    width: 75%;  
}


/*----------- FOOTER --------------*/
    
} /* end of media query */