/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
    header img{width:60px;}
    header h1{font-size:2rem;}
    header h2{font-size:1rem;}


/*----------- NAVIGATION --------------*/
/*nav ul { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


  nav li a { 
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
  }
*/

nav ul { 
    display: flex; 
}
nav ul li { 
    flex: 1 1 100%;
}

nav ul li a {
	padding: .5rem 1rem;
}

/*----------- MAIN --------------*/
main img {
    width: 75%;  
}


/*----------- FOOTER --------------*/
    
} /* end of media query */