/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    Font-Family: 'Lato', Sans-Serif;
    color:#42253b;}
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #42253b;
    color:#abfaa9;
    Font-Family: 'Prata', Serif;
}

header img{float:left; margin-right:10px; width:50px;}
header h1 {margin: 0; font-size:1.3rem;}
header h2 {margin: 0; font-size:1rem;
            Font-Family: 'Lato', Sans-Serif;
}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #82d173;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #4c2c69;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #4c2c69;
    color: #abfaa9;
}
nav ul li.active a {
    background-color: #42253b;
    color: #fff;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}
main h1{color:#42253b;}
main h2{color:#4c2c69;}

/*----------- FOOTER --------------*/
footer {
    background-color:  #82d173;
    padding: .5rem 2%;
    text-align: center;
    color: #4c2c69;
    font-size: .9rem;
}

footer a {
    color: #4c2c69;  
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    background-color: #4c2c69;
    color: #abfaa9;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.sitename {
background-color:  #abfaa9;
Font-Family: 'Prata', Serif;
}